<div class="container">
  <div class="col-xs-12" *ngIf="!!profileForm">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save Profile</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel Save
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input
              type="text"
              id="first_name"
              formControlName="first_name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input
              type="text"
              id="last_name"
              formControlName="last_name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="bio">Bio</label>
            <input
              type="text"
              id="bio"
              formControlName="bio"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="avatar">Avatar</label>
            <input
              type="text"
              id="avatar"
              formControlName="avatar"
              class="form-control"
              #avatar>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="avatar.value" class="img-responsive" style="max-width: 250px; justify-content:center;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="city">City</label>
            <input
              type="text"
              id="city"
              formControlName="city"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="gender">Gender</label>
            <input
              type="text"
              id="gender"
              formControlName="gender"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="url">URL</label>
            <input
              type="text"
              id="url"
              formControlName="url"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
